h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { font-family: var(--font__headings); }

h1, .h1 {
  font-size: 48px;
  line-height: 1.25;

  @media (max-width: 998px) {
    font-size: 38px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }
}


h2, .h2 {
  font-size: 36px;
  line-height: 1.22;

  @media (max-width: 998px) {
    font-size: 28px;
  }
}

.h1 span,
.h2 span,
.h3 span,
.h4 span,
.h5 span,
.h6 span {
  color: var(--color-secondary);
}

h3, .h3 { font-size: 24px;}
h4, .h4 { font-size: 20px; }
h5, .h5 { font-size: 18px; line-height: 1.5; }
h6, .h6 { font-size: 16px; line-height: 1.6; font-family: var(--font__body); }