.profiles {
  background-color: var(--color-section-bg);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 40px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  .swiper {
    margin-top: 40px;
  }

  &__img {
    aspect-ratio: 1/1;
    margin-bottom: 16px;
    border-radius: 8px 0 8px 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__card {
    color: #D0D5DD;

    .h5 {
      color: #8CB3ED;
      font-weight: 400;
    }

    p {
      margin-top: 8px;
    }

    a {
      margin-top: 16px;
      color: var(--color-secondary);
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      display: flex; 
      align-items: center;
      gap: 13px;
    }
  }

  &__info {
    margin-top: 16px;

    a {
      margin-top: 0;
      transition: all 0.3s ease-in-out;
      
      &:hover span {
        filter: drop-shadow(0px 2px 15px #EE46BC99);
      }
    }
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 13px;

    .h4 {
      font-weight: 400;
      color: #fff;
    }
  }

  &__name-img {
    width: 36px;
    height: 36px;
    border-radius: 50px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}